{% extends "base.html" %}

{% block content %}
    {% if 'инженер' in prof or 'строитель' in prof %}
    <h2>Инженерные тренажеры</h2>
    <img src="https://yastatic.net/s3/lyceum/content/images/second-year/web/MARS-2-2.png"
         alt="здесь должна была быть картинка, но не нашлась">
    {% else %}
    <h2>Научные симуляторы</h2>
    <img src="https://yastatic.net/s3/lyceum/content/images/second-year/web/MARS-2-2.png"
         alt="здесь должна была быть картинка, но не нашлась">
    {% endif %}
{% endblock %}